.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-details {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.character-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.character-name-text {
    @include interText(700, 48px, 58px, white);

}

.character-container {
    background: linear-gradient(180deg, #202020 0%, #215229 100%);
}

.character-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.character-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 760px;
    gap: 24px;
}

.character-image {
    border-radius: 8px;
}

.character-episode-counter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
}

.character-episode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 24px;
}

.character-episode-items {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
    flex-wrap: wrap;
    max-height: 150px;
}

.character-showmore-button {
    all: unset;
    position: absolute;
    border-radius: 50%;
    background-color: #EBEBEB;
    width: 40px;
    height: 40px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    left: -30px;

    &:hover {
        background-color: #DEDEDE;
    }
}

.character-showmore-psuedo {
    position: relative;
    width: 0px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-episode-item {
    margin: 8px;
    width: calc(33.33% - 16px);

}

@media (max-width: $breakpoint-md) {
    .character-info-container {
        flex-direction: column;
    }

    .character-episode-items {
        flex-wrap: wrap;
        overflow: hidden;
    }

    .character-episode-item {
        width: calc(50% - 16px);
    }
}