.counter--link {
    all: unset;
    cursor: pointer;

    &:hover {
        color: red !important;

        .counter--title {
            color: $darkgray;
        }

        .counter--count {
            color: $darkgray;
        }

        .counter--arrow path {
            stroke: $darkgray;
        }
    }
}

.counter--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0px 16px 0px;
    gap: 8px;
}

.counter--count {
    @include interText(700, 24px, 29px, $black);
    background-color: $outline;
    border-radius: 4px;
    padding: 4px 8px;
}

.counter--title {
    @include interText(700, 32px, 39px, $black)
}

@media (max-width: $breakpoint-md) {
    .counter--title {
        @include interText(700, 20px, 24px, $black)
    }

    .counter--count {
        @include interText(700, 16px, 19px, $black)
    }
}