.episode-detailsPage-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    gap: 48px;
}

.episode-detailsPage-main-frame {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.episode-detailsPage-main-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.episode-detailsPage-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #202020 0%, #215229 100%);
}

.episode-detailsPage-container {
    height: 100%;
    width: calc(100% - 32px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    max-width: 1120px;
    padding: 32px 0px 32px 0px;
}

.episode-detailsPage-goBack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        @include interText(700, 16px, 19px, white)
    }

}

.episode-detailsPage-selectEpisode {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @include interText(700, 16px, 19px, white)
}

.episode-detailsPage-episodeText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    @include interText(700, 16px, 16px, white);
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 2px;
}

.arrow {
    transform: rotate(180deg);

    path {
        stroke: white !important;
    }
}

.arrow-right {

    path {
        stroke: white !important;
    }
}

.episode-detailsPage-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.episode-detailsPage-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
}

.episode-detailsPage-date {
    @include interText (400, 16px, 19px, white)
}

.episode-detailsPage-description {
    @include interText (400, 20px, 24px, white);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    max-height: 24*4px;

}

.episode-detailsPage-characters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.episode-detailsPage-characters-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: calc(100% - 32px);
    max-width: 1120px;
    gap: 24px;
}

.episode-detailsPage-locations {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.episode-detailsPage-counter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 32px);
    gap: 24px;
    max-width: 1120px;
}

.showMore {
    -webkit-text-fill-color: white;
    max-height: max-content;
}

.episode-detailsPage-showMore button {
    all: unset;

    @include interText (400, 16px, 19px, $outline);

    &:hover {
        cursor: pointer;
    }

    &:active {
        background: transparent;
    }
}

.episode-detailsPage-title-text {
    @include interText(700, 48px, 58px, white)
}

.episode-detailsPage-episode-text {
    background: $outline;
    border-radius: 4px;
    @include interText(700, 48px, 58px, black);
    padding: 2px 8px 2px 8px;
}

.location-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.location-frame {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 16px;
    max-width: 1120px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.location-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    background-color: $gray;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;

}

.location-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%
}

.location-type {
    @include interText(700, 16px, 19px, $black );
    padding: 4px 8px;
    border-radius: 4px;
    background: $outline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.location-name {
    display: flex;
    gap: 8px;
    @include interText(700, 16px, 19px, $black)
}

.location-dimension {
    @include interText(400, 16px, 19px, $darkgray)
}

@media (max-width: $breakpoint-lg) {
    .location-frame {
        width: calc(100% - 32px);
    }

}

@media (min-width: $breakpoint-md) {

    .location-container {
        width: calc(33.33% - 12px);
    }
}

@media (max-width: $breakpoint-md) {

    .location-container {
        width: calc(50% - 12px);
    }

    .episode-detailsPage-container {
        width: calc(100% - 32px);
    }

    .episode-detailsPage-description {
        font-size: 16px;
        line-height: 19px;
    }

    .episode-detailsPage-title-text {
        @include interText(700, 32px, 39px, white)
    }

    .episode-detailsPage-episode-text {
        @include interText(700, 32px, 39px, black)
    }

    .episode-detailsPage-info {
        gap: 8px;
    }

    .episode-detailsPage-characters-container {
        width: calc(100% - 32px);
    }
}

@media (max-width: $breakpoint-sm) {
    .location-frame {
        flex-direction: column;
    }

    .location-container {
        width: 100%;
    }

    .episode-detailsPage-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}