.favorites--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    box-sizing: border-box;
    padding: 16px 0px 16px 0px;
}

.favorites--button {
    all: unset;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;

    &:focus-visible {
        outline: auto;
    }
}

.black {
    background-color: $black;

    .favorited {
        fill: $outline;
        stroke: $outline;
    }

    .starIcon {
        stroke: $outline;
    }

    .favorites--text {
        color: $outline;
    }

}

.transparent {
    background-color: transparent;
}

.transparent {
    background-color: transparent;
}

.white {

    .favorited {
        fill: $black;
        stroke: $black;
    }

    .starIcon {
        stroke: $black;
    }

    .favorites--text {
        color: $black;
    }
}



@media (max-width: $breakpoint-md) {
    .favorites--text {
        @include interText(700, 16px, 19px, white);
    }
}