.navigation--navigationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    min-width: 24px;
  }
}

.navigation--navigationText {
  @include interText(700, 16px, 19px, $black);

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover {
    color: $darkgray;
  }
}