.navbar--navbar {
  background-color: $gray;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar--wrapper {
  width: calc(100% - 32px);
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
  flex-direction: row;
  background: $gray;
  gap: 36px;
  box-sizing: border-box;
}

.navbar--searchInput {
  width: 70%;
  height: 56px;
  border-radius: 8px;
  border: none;
  padding: 16px 24px 16px 24px;
  padding-left: 68px;
  font-size: 16px;
  background: white url(../../assets/search.svg) no-repeat 24px center;

  @include interText(700, 16px, 19px, $darkgray);

  &:hover {
    outline: 1px solid $darkgray;
  }

  &:focus {
    outline: 1px solid $outline;
  }
}

.navbar--searchInputTwo {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: none;
  padding: 16px;
  padding-left: 54px;
  font-size: 16px;
  background: $gray url(../../assets/search.svg) no-repeat 16px center;

  @include interText(700, 16px, 19px, $darkgray);

  &:hover {
    outline: 1px solid $darkgray;
  }

  &:focus {
    outline: 1px solid $outline;
  }
}

.navbar--secondaryInput {
  border-radius: 5px;
  border: none;
  padding: 16px;
  display: none;
}

.navbar--itemsContainer {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 36px;
  stroke: $darkgray ;
}

.navbar--items {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin: 0px;
  @include interText(700, 14px, 17px, $darkgray);
  gap: 6px;
  stroke: $darkgray;
}

.navbar-dropdown-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  gap: 36px;
}

.navbar-dropdown-psuedo {
  position: absolute;
  width: 100%;
  z-index: 120;
}

.navbar-dropdown-wrapper {
  position: relative;
  left: 37px;
  width: 70%;
  max-width: 784px;
  background: white;
  outline: 1px solid $active ;
  border-radius: 8px;
  padding: 16px;
  margin: 0px;
  box-sizing: border-box;
  @include interText(700, 19px, 17px, $black);
  gap: 6px;
}

.focus {
  display: flex !important;

}

.navbar-dropdown-item {
  all: unset;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: $gray;
  }
}

.navbar-searchResult {
  position: absolute;
  width: 100%;
  min-height: 300%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}

.navbar-no-result-text {
  @include interText(700, 32px, 17px, $darkgray);
  margin-top: 40px;
}

.navbar-count {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% - 32px);
  padding: 0px;
  margin: 0px;
  @include interText(700, 14px, 17px, $darkgray);
  gap: 6px;
  max-width: 1120px;
}

.navbar-search-header {
  @include interText(700, 32px, 39px, $black);
  text-align: left;
  padding-top: 48px;
  padding-bottom: 48px;
}

.navbar-search-characters {
  width: calc(100% - 32px);
}

.navbar-search-episodes {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 32px);
  height: 100%;
  background: white;
  max-width: 1120px;
  gap: 12px;
  flex: 1 0 auto;
}

.navbar-episodes-item {
  width: calc(33.33% - 24px);
}


@media (max-width: $breakpoint-md) {
  .navbar--searchInput {
    display: none;
  }

  .navbar--items span {
    display: none;
  }

  .navbar--wrapper {
    width: 100%;
    padding: 16px;
  }

  .navbar--brand svg {
    width: 108px;
  }

  .navbar--secondaryInput-psuedo {
    width: 100%;
    position: absolute;
  }

  .character-details-container,
  .homepage-main-frame,
  .episodes-page-showcount-container,
  .episode-detailsPage-frame,
  .favorites-main-container,
  .characters-page-container,
  .characterEpisodes-main-frame,
  .navbar-searchResult,
  .navbar-dropdown-container,
  .favorite-episodes-main-frame {
    padding-top: 72px !important;
  }

  .navbar--secondaryInput {
    display: block;
    background: transparent;
    position: relative;
    z-index: 100;
  }

  .navbar-dropdown-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 16px;
    margin-top: 0px;
    padding-top: 8px;
    left: auto;
    max-width: 100%;
  }

  .navbar-dropdown-container {
    height: 100%;
    width: 100%;
  }

  .navbar-episodes-item {
    width: calc(50% - 12px);
  }

  .navbar-no-result-text {
    @include interText(700, 21px, 17px, $darkgray);
  }
}

@media (max-width: $breakpoint-sm) {
  .navbar-episodes-item {
    width: 100%;
  }

}

@media (max-width: $breakpoint-xs) {
  .navbar-dropdown-wrapper {
    display: none;
  }
}